<div class="row">
  
  <div class="leftcol">
    <innercol>
      <img src='/pics/{{toLowerCase name}}.jpg'>
      <h1>#{{number}} {{name}}</h1>
      <p>Primary type: {{typePrimary}}</p> 
      <p>Secondary type: {{typeSecondary}}</p>
    </innercol>
  </div>

  <div class="rightcol">
    <inner>
      
      <form action='/pokemon/{{name}}/review' method='post'>
          <fieldset>
              <legend>
                <font size="5">Submit a review for {{name}}</font>
                </legend>
              
              <table>
                <tr>
                  <th>
                    Rating
                  <th>
                </tr>
                 <tr>
                  <th>
                    <div class="rate">
                      <input type="radio" id="star5" name="rating" value="5" />
                      <label for="star5" title="Five Stars">5 stars</label>
                      <input type="radio" id="star4" name="rating" value="4" />
                      <label for="star4" title="Four Stars">4 stars</label>
                      <input type="radio" id="star3" name="rating" value="3" />
                      <label for="star3" title="Three Stars">3 stars</label>
                      <input type="radio" id="star2" name="rating" value="2" />
                      <label for="star2" title="Two Stars">2 stars</label>
                      <input type="radio" id="star1" name="rating" value="1" />
                      <label for="star1" title="One Star">1 star</label>
                    </div>
                  </th>
                </tr>  
              </table>
              Your name (optional):
              <input type='text' name='author' maxlength="29" >
              <br>
              Comments:
              <input type='text' name='reviewText' maxlength="139" style="width:550px; text-align: left; padding-bottom:50px" >
              <br><br>
              <input type='submit' value='Submit' id='submit-review'>
          </fieldset>
      </form>
      <br>

      <table>
        <tr>
          <th style="width: 120px" >
            Average rating: 
          </th>
          <th th style="width:50px">
            <div class="star-ratings-sprite">
              <span style="width:{{percentRating}}%" class="star-ratings-sprite-rating"></span>
            </div>
          </th>
          <th>
               ({{rating}})
          </th>
        </tr>
      </table>

      <br>
      <font size="5">Reviews </font>

      {{{generateReviews rows}}}

      <hr>
    </inner> 
  </div>
</div>